body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Georgia, serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #0077ff;
    font-size: 36px;
    font_family: Georgia, serif;
}

p {
    font-size: 18px;
    font_family: Georgia, serif;
    background-color: #ffffff;
    border: 2px solid #0077ff;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin: 20px auto; 
}

button {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0057cc;
}
